trunk/server/test/Web References/IqPresenceRef/IqPresence.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://schemas.iquomi.com/2004/01/core" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.iquomi.com/2004/01/iqPresence" xmlns:s1="http://schemas.iquomi.com/2004/01/iqPresence" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://schemas.iquomi.com/2004/01/iqAlerts" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://services.iquomi.com/2004/01/iqPresence" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IqPresence</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.iquomi.com/2004/01/iqPresence">
      <s:import namespace="http://schemas.iquomi.com/2004/01/iqPresence" />
      <s:import namespace="http://schemas.iquomi.com/2004/01/core" />
      <s:element name="NotifyEndpoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:req" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyEndpointResponse">
        <s:complexType />
      </s:element>
      <s:element name="SoapAuthenticationType" type="tns:SoapAuthenticationType" />
      <s:complexType name="SoapAuthenticationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Iqid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SoapRequestType" type="tns:SoapRequestType" />
      <s:complexType name="SoapRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s3:RequestType" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:InsertRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:InsertResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:DeleteRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:DeleteResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Replace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:ReplaceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReplaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:ReplaceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:UpdateRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:UpdateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:QueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:QueryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:ListenRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:ListenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.iquomi.com/2004/01/iqPresence">
      <s:import namespace="http://schemas.iquomi.com/2004/01/iqAlerts" />
      <s:element name="req" type="s1:NotifyEndpointRequest" />
      <s:complexType name="NotifyEndpointRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EndpointId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notification" type="s2:notificationType" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.iquomi.com/2004/01/iqAlerts">
      <s:complexType name="notificationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="from" type="s2:fromType" />
          <s:element minOccurs="0" maxOccurs="1" name="to" type="s2:toType" />
          <s:element minOccurs="0" maxOccurs="1" name="contents" type="s2:notificationTypeContents" />
          <s:element minOccurs="0" maxOccurs="1" name="routing" type="s2:routingType" />
        </s:sequence>
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="fromType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="identityHeader" type="s2:identityHeaderType" />
          <s:element minOccurs="0" maxOccurs="1" name="expiresAt" type="s2:expiresType" />
          <s:element minOccurs="0" maxOccurs="1" name="acknowledge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="category" type="s2:categoryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="identityHeaderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="onBehalfOfUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseHolder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="platformId" type="s:string" />
        </s:sequence>
        <s:attribute name="type" type="s:string" />
      </s:complexType>
      <s:complexType name="expiresType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="ttl" type="s:string" />
            <s:attribute name="onDate" type="s:string" />
            <s:attribute name="replace" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="categoryType">
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="toType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="originalUser" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="notificationTypeContents">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="routingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hops" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.iquomi.com/2004/01/core">
      <s:complexType name="RequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Key" type="s3:RequestTypeKey" />
        </s:sequence>
        <s:attribute name="Service" type="s:string" />
        <s:attribute name="Document" type="s3:RequestTypeDocument" use="required" />
        <s:attribute name="Method" type="s3:RequestTypeMethod" use="required" />
        <s:attribute name="GenResponse" type="s3:RequestTypeGenResponse" use="required" />
      </s:complexType>
      <s:complexType name="RequestTypeKey">
        <s:attribute name="Puid" type="s:string" />
        <s:attribute name="Instance" type="s:string" />
        <s:attribute name="Cluster" type="s:string" />
      </s:complexType>
      <s:simpleType name="RequestTypeDocument">
        <s:restriction base="s:string">
          <s:enumeration value="Content" />
          <s:enumeration value="RoleList" />
          <s:enumeration value="Policy" />
          <s:enumeration value="System" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RequestTypeMethod">
        <s:restriction base="s:string">
          <s:enumeration value="Insert" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Replace" />
          <s:enumeration value="Update" />
          <s:enumeration value="Query" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RequestTypeGenResponse">
        <s:restriction base="s:string">
          <s:enumeration value="Always" />
          <s:enumeration value="Never" />
          <s:enumeration value="FaultOnly" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertRequest" type="s3:InsertRequestType" />
      <s:complexType name="InsertRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s3:InsertRequestOptionsType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attributes" type="s3:RedAttributeType" />
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="UseClientIds" type="s:boolean" />
        <s:attribute name="MinOccurs" type="s:int" />
        <s:attribute name="MaxOccurs" type="s:int" />
      </s:complexType>
      <s:complexType name="InsertRequestOptionsType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedAttributeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertResponse" type="s3:InsertResponseType" />
      <s:complexType name="InsertResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NewBlueId" type="s3:NewBlueIdType" />
        </s:sequence>
        <s:attribute name="NewChangeNumber" type="s:nonNegativeInteger" />
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
      <s:complexType name="NewBlueIdType">
        <s:attribute name="Id" type="s:string" />
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Failure" />
          <s:enumeration value="Rollback" />
          <s:enumeration value="NotAttempted" />
          <s:enumeration value="AccessDenied" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeleteRequest" type="s3:DeleteRequestType" />
      <s:complexType name="DeleteRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s3:DeleteRequestOptionsType" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="MinOccurs" type="s:int" />
        <s:attribute name="MaxOccurs" type="s:int" />
      </s:complexType>
      <s:complexType name="DeleteRequestOptionsType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteResponse" type="s3:DeleteResponseType" />
      <s:complexType name="DeleteResponseType">
        <s:attribute name="NewChangeNumber" type="s:nonNegativeInteger" />
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
      <s:element name="ReplaceRequest" type="s3:ReplaceRequestType" />
      <s:complexType name="ReplaceRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s3:ReplaceRequestOptionsType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attributes" type="s3:RedAttributeType" />
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="UseClientIds" type="s:boolean" />
        <s:attribute name="MinOccurs" type="s:int" />
        <s:attribute name="MaxOccurs" type="s:int" />
      </s:complexType>
      <s:complexType name="ReplaceRequestOptionsType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReplaceResponse" type="s3:ReplaceResponseType" />
      <s:complexType name="ReplaceResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NewBlueId" type="s3:NewBlueIdType" />
        </s:sequence>
        <s:attribute name="NewChangeNumber" type="s:nonNegativeInteger" />
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
      <s:element name="UpdateRequest" type="s3:UpdateRequestType" />
      <s:complexType name="UpdateRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateBlock" type="s3:UpdateBlockType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdateBlockType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InsertRequest" type="s3:InsertRequestType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeleteRequest" type="s3:DeleteRequestType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReplaceRequest" type="s3:ReplaceRequestType" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="OnError" type="s3:UpdateBlockTypeOnError" use="required" />
      </s:complexType>
      <s:simpleType name="UpdateBlockTypeOnError">
        <s:restriction base="s:string">
          <s:enumeration value="RollbackBlockAndFail" />
          <s:enumeration value="RollbackBlockAndContinue" />
          <s:enumeration value="Ignore" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateResponse" type="s3:UpdateResponseType" />
      <s:complexType name="UpdateResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateBlockStatus" type="s3:UpdateBlockStatusType" />
        </s:sequence>
        <s:attribute name="NewChangeNumber" type="s:nonNegativeInteger" />
      </s:complexType>
      <s:complexType name="UpdateBlockStatusType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InsertResponse" type="s3:InsertResponseType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeleteResponse" type="s3:DeleteResponseType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReplaceResponse" type="s3:ReplaceResponseType" />
        </s:sequence>
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
      <s:element name="QueryRequest" type="s3:QueryRequestType" />
      <s:complexType name="QueryRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XpQuery" type="s3:XpQueryType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChangeQuery" type="s3:ChangeQueryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XpQueryType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s3:QueryOptionsType" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="MinOccurs" type="s:int" />
        <s:attribute name="MaxOccurs" type="s:int" />
      </s:complexType>
      <s:complexType name="QueryOptionsType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sort" type="s3:SortType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Range" type="s3:RangeType" />
          <s:element minOccurs="0" maxOccurs="1" name="Shape" type="s3:ShapeType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SortType">
        <s:attribute default="Ascending" name="Direction" type="s3:SortTypeDirection" />
        <s:attribute name="Key" type="s:string" />
      </s:complexType>
      <s:simpleType name="SortTypeDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Ascending" />
          <s:enumeration value="Descending" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="RangeType">
        <s:attribute name="First" type="s:string" />
        <s:attribute name="Count" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ShapeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Include" type="s3:ShapeAtomType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Exclude" type="s3:ShapeAtomType" />
        </s:sequence>
        <s:attribute name="Base" type="s3:ShapeTypeBase" />
      </s:complexType>
      <s:complexType name="ShapeAtomType">
        <s:attribute name="Select" type="s:string" />
      </s:complexType>
      <s:simpleType name="ShapeTypeBase">
        <s:restriction base="s:string">
          <s:enumeration value="T" />
          <s:enumeration value="Nil" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ChangeQueryType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Options" type="s3:QueryOptionsType" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="BaseChangeNumber" type="s:nonNegativeInteger" />
      </s:complexType>
      <s:element name="QueryResponse" type="s3:QueryResponseType" />
      <s:complexType name="QueryResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XpQueryResponse" type="s3:XpQueryResponseType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChangeQueryResponse" type="s3:ChangeQueryResponseType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XpQueryResponseType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
      <s:complexType name="ChangeQueryResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChangedBlue" type="s3:ChangedBlueType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeletedBlue" type="s3:DeletedBlueType" />
        </s:sequence>
        <s:attribute name="BaseChangeNumber" type="s:nonNegativeInteger" />
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
      <s:complexType name="ChangedBlueType">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeletedBlueType">
        <s:attribute name="Id" type="s:string" />
      </s:complexType>
      <s:element name="ListenRequest" type="s3:ListenRequestType" />
      <s:complexType name="ListenRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Context" type="s3:ListenRequestTypeContext" />
          <s:element minOccurs="0" maxOccurs="1" name="To" type="s:anyURI" />
        </s:sequence>
        <s:attribute name="Select" type="s:string" />
        <s:attribute name="MinOccurs" type="s:int" />
        <s:attribute name="MaxOccurs" type="s:int" />
      </s:complexType>
      <s:complexType name="ListenRequestTypeContext">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Uri" type="s:anyURI" />
      </s:complexType>
      <s:element name="ListenResponse" type="s3:ListenResponseType" />
      <s:complexType name="ListenResponseType">
        <s:attribute name="SelectedNodeCount" type="s:int" />
        <s:attribute name="Status" type="s3:ResponseStatus" use="required" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifyEndpointSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyEndpoint" />
  </wsdl:message>
  <wsdl:message name="NotifyEndpointSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyEndpointResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyEndpointSoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="NotifyEndpointSoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="InsertSoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:message name="ReplaceSoapIn">
    <wsdl:part name="parameters" element="tns:Replace" />
  </wsdl:message>
  <wsdl:message name="ReplaceSoapOut">
    <wsdl:part name="parameters" element="tns:ReplaceResponse" />
  </wsdl:message>
  <wsdl:message name="ReplaceSoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="ReplaceSoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="QuerySoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:message name="ListenSoapIn">
    <wsdl:part name="parameters" element="tns:Listen" />
  </wsdl:message>
  <wsdl:message name="ListenSoapOut">
    <wsdl:part name="parameters" element="tns:ListenResponse" />
  </wsdl:message>
  <wsdl:message name="ListenSoapAuthenticationType">
    <wsdl:part name="SoapAuthenticationType" element="tns:SoapAuthenticationType" />
  </wsdl:message>
  <wsdl:message name="ListenSoapRequestType">
    <wsdl:part name="SoapRequestType" element="tns:SoapRequestType" />
  </wsdl:message>
  <wsdl:portType name="IqPresenceSoap">
    <wsdl:operation name="NotifyEndpoint">
      <wsdl:input message="tns:NotifyEndpointSoapIn" />
      <wsdl:output message="tns:NotifyEndpointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Replace">
      <wsdl:input message="tns:ReplaceSoapIn" />
      <wsdl:output message="tns:ReplaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listen">
      <wsdl:input message="tns:ListenSoapIn" />
      <wsdl:output message="tns:ListenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IqPresenceSoap" type="tns:IqPresenceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="NotifyEndpoint">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/NotifyEndpoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:NotifyEndpointSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:NotifyEndpointSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:InsertSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:DeleteSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Replace">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Replace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReplaceSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:ReplaceSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:UpdateSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QuerySoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:QuerySoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listen">
      <soap:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Listen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListenSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap:header message="tns:ListenSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IqPresenceSoap12" type="tns:IqPresenceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="NotifyEndpoint">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/NotifyEndpoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:NotifyEndpointSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:NotifyEndpointSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:InsertSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:DeleteSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Replace">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Replace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReplaceSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:ReplaceSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:UpdateSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QuerySoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:QuerySoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listen">
      <soap12:operation soapAction="http://services.iquomi.com/2004/01/iqPresence/Listen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListenSoapAuthenticationType" part="SoapAuthenticationType" use="literal" />
        <soap12:header message="tns:ListenSoapRequestType" part="SoapRequestType" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IqPresence">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">IqPresence</wsdl:documentation>
    <wsdl:port name="IqPresenceSoap" binding="tns:IqPresenceSoap">
      <soap:address location="http://services.iquomi.com/IqPresence.asmx" />
    </wsdl:port>
    <wsdl:port name="IqPresenceSoap12" binding="tns:IqPresenceSoap12">
      <soap12:address location="http://services.iquomi.com/IqPresence.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>